
body {
    overflow-x: hidden;
}

/* MAIN */
.main .carousel {
    height: 100% !important;
}
.main .carousel .carousel-item {
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.main .carousel.carousel-slider .carousel-item h2 {
    font-size: 2.3em;
    margin: 0 0 20px 0;
}

/* SECTION */
.section {
    padding: 30px 0;
    border-bottom: 1px solid #999;
}
.section .section-title {
    font-size: 1.8em;
    margin: 0 0 15px 0;
}

.input-field {
    color: #f5f5f5;
}

/* FOOTER */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer .tabs .tab a:hover {
    background: #26a69a;
}
.footer .tabs {
    overflow: initial !important;
}
.footer .tabs .tab a:focus,
.footer .tabs .tab a.active {
    color: #000 !important;
    background: #f5f5f5;
}
.footer .tabs .indicator {
    background: #222;
    height: 2px;
}
